{% load staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rehost your image</title>
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-fileupload.min.css" %}">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-fileupload.min.js" %}"/>
    <script>
        {% block script%}{% endblock %}
    </script>
</body>
</html>

