{% extends "base.html" %}

{% block content %}
    <div class="hero-unit">
        <h1>Image rehosting</h1>
        <p>simple, fast (jk), fun, etc</p>
        <form method="POST" action="/get/" style="margin:0; padding: 0;">
            {% csrf_token %}
            <div class="input-append">
                <input type="text" name="url" class="span5" placeholder="http://example.com/kitty.png" /> 
                <button type="submit" class="btn btn-inverse">Rehost</button>
            </div>      
        </form>
        
        <form method="POST" action="/upload/" enctype="multipart/form-data" style="margin:0; padding:0">
            {% csrf_token %}
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span5">
                        <!-- <i class="icon-file fileupload-exists"></i> -->
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                    <span class="fileupload-new">Select file</span>
                    <span class="fileupload-exists">Change</span>
                    <input type="file" name="file" /></span>
                    <button type="submit" href="#" class="btn btn-inverse fileupload-exists">Upload</button>
                </div>
            </div>
            {% for m in messages %}
            <div class="alert alert-error span5">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ m }}
            </div>
            {% endfor %}
       </form>
   </div>
   {% block share %}{% endblock %}
{% endblock %}
{% block script %}$('.fileupload').fileupload();{% endblock %}

