{% extends "index.html" %}

{% load staticfiles %}

{% block share %}
<div class="row">
    <div class="span12">
        <h3>URL of the image</h3>
        <input type="text" class="span4" value="http://{{ request.META.HTTP_HOST }}/u/kwGasa.gif"/>

        <h3>Share the image</h3>
        <input type="text" class="span6 text-center" value="[center][IMG]http://{{ request.META.HTTP_HOST}}/u/{{ image }}[/IMG][/center]"/>
        <input type="text" class="span6 text-center" value="[URL=http://{{ request.META.HTTP_HOST }}/u/{{ image }}]link[/URL]"/>
    </div>
</div>
<div class="row text-center">
    <div class="span12">
        <img class="img-rounded" src="http://{{ request.META.HTTP_HOST }}/u/{{ image }}"/>
    </div>
</div>

{% endblock %}
